body {
	background: #19A69D;
}

/*Text content CSS */
button {
	padding: 8px 8px;
	font-size: 14px;
	background: white;
	border: 1px black solid;
	margin: 10px 10px 10px 0px;
	display: inline-block;
	position: relative;
}

button:hover {
	color: #EA242F;
	background: #E7E9E8;
	border: 1px #19A69D solid;
}
button:focus {
	outline: 0;
}
.instructions{
	text-align: center;
}
.text { 
	font-family: 'Oxygen', sans-serif;
}
#adventureDetails {
	display: inline-block;
	vertical-align: top;
	height: 60px;
}

#yelpLink {
	color: #EA242F;
	text-decoration: none;
}
#yelpLink:visited {
	text-decoration: underline;
}
#gameName {
	color: white;
	font-size: 45px;
   	padding: 0px 20px 10px 20px;
	-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    transform-origin: right top;
    position: fixed;
    top: 0;
    right: 100%;
    width: 700px;
    text-align: center;
    vertical-align: middle;
    background: #EA242F;
}
#muniLogo {
	width: 60px;
	display: inline-block;
}
#title {
	font-size: 30px;
}
#wrongMoveAlert {
	color: red;
}

/*Map CSS*/
#map {
	height: 800px;
	width: 800px;
	position: relative;
	z-index: 0;
	margin: 0 auto;
}

#muniImage {
	height: 100%;
	width: 100%;
	position: relative;
}

/*Prize div CSS Below*/
.foodIcon{
	height: 100%;
	width: 100%;
}
.food {
	position: absolute;
	display: none;
}
#beer {
	height: 60px;
	width: 60px;
	top: 410px;
	right: -30px;
}
#brownie {
	height: 50px;
	width: 50px;
	top: 400px;
	right: 360px;
}
#burger {
	height: 45px;
	width: 45px;
	top: 310px;
	right: 280px;
}
#burrito {
	height: 60px;
	width: 60px;
	top: 470px;
	right: 160px;
}
#cheese {
	height: 60px;
	width: 70px;
	top: 400px;
	right: 150px;
}
#chowder {
	height: 60px;
	width: 50px;
	top: -10px;
	right: 152px;
}
#coffee {
	height: 60px;
	width: 40px;
	top: 440px;
	right: 290px;
}
#crab {
	height: 39px;
	width: 52px;
	top: 280px;
	right: 725px;
}
#dimsum {
	height: 50px;
	width: 50px;
	top: 210px;
	right: 580px;
}
#hotdog {
	height: 60px;
	width: 60px;
	transform: rotate(90deg);
	top: 290px;
	right: 10px;
}
#pizza {
	height: 60px;
	width: 60px;
	transform: rotate(90deg);
	top: 80px;
	right: 55px;
}
#pretzel {
	height: 40px;
	width: 40px;
	top: 680px;
	right: 485px;
}
#sushi {
	height: 40px;
	width: 40px;
	top: 197px;
	right: 280px;
}

/*NODE DIV CSS*/
/*Organized by order of colors of the rainbow, no repeats*/
.munistop {
	height: 17px;
	width: 17px;
	position: absolute;
/*	uncomment to make clickable node divs visible*/
/*	background: red;*/
}

/*red line prize destinations and transfer stations*/
#embarcadero {
	top: 168px;
	right: 80px;
}
#montgomery {
	top: 205px;
	right: 114px;
}
#powell {
	top: 240px;
	right: 147px;
}
#civicCenter {
	height: 30px;
	width: 27px;
	top: 270px;
	right: 187px;
}
#vanNess {
	height: 30px;
	width: 27px;
	top: 320px;
	right: 216px;
}
#sixteenthSt {
	top: 393px;
	right: 214px;
}
#twentyFourthSt {
	top: 490px;
	right: 214px;
}
#glenPark {
	top: 643px;
	right: 293px;
}
#balboaPark {
	top: 729px;
	right: 372px;
}

/*Orange line prize locations and transfer stations*/
#northBeach {
	top: 107px;
	right: 135px;
}
#wharf {
	top: 70px;
	right: 170px;
}
#cowHollow {
	top: 70px;
	right: 220px;
}
#marina {
	top: 87px;
	right: 326px;
}
#pacHeights {
	top: 173px;
	right: 326px;
}
#mtZion {
	top: 240px;
	right: 326px;
}
#divisadero {
	top: 290px;
	right: 326px;
}
#castro {
	top: 412px;
	right: 310px;
}
#designDistrict {
	top: 368px;
	right: 146px;
}
#folsom {
	top: 314px;
	right: 146px;
}
#soma {
	top: 266px;
	right: 103px;
}
#transbay {
	top: 204px;
	right: 58px;
}

/*Yellow line prize locations and transfer stations*/
#candlestick {
	top: 742px;
	right: 90px;
}
#carroll {
	top: 705px;
	right: 57px;
}
#bayview {
	top: 643px;
	right: 35px;
}
#hudson {
	top: 589px;
	right: 35px;
}
#marin {
	top: 515px;
	right: 35px;
}
#dogpatch {
	top: 435px;
	right: 35px;
}
#potrero {
	top: 381px;
	right: 90px;
}
#fourthAndKing {
	top: 302px;
	right: 70px;
}
#chinatown {
	top: 167px;
	right: 158px;
}
#polk {
	top: 186px;
	right: 238px;
}
#japantown {
	top: 240px;
	right: 288px;
}
#laurelHeights {
	top: 240px;
	right: 378px;
}
#arguello {
	top: 272px;
	right: 445px;
}
#clement {
	top: 272px;
	right: 524px;
}
#theAvenues {
	top: 272px;
	right: 590px;
}
#landsEnd {
	top: 338px;
	right: 738px;
}

/*Green line prize locations and transfer stations*/
#nineteenthSt {
	top: 423px;
	right: 545px;
}
#quintara {
	top: 521px;
	right: 545px;
}
#taraval {
	top: 577px;
	right: 545px;
}
#stonestown {
	top: 693px;
	right: 533px;
}

/*Blue line prize locations and transfer stations*/
#union {
	top: 131px;
	right: 236px;
}
#coltrane {
	top: 290px;
	right: 253px;
}
#usf {
	top: 326px;
	right: 371px;
}
#haightAshbury {
	top: 380px;
	right: 389px;
}
#innerSunset {
	top: 423px;
	right: 483px;
}
#outerSunset {
	top: 423px;
	right: 652px;
}
#breakers {
	top: 423px;
	right: 713px;
}

/*Purple line prize locations and transfer stations*/
#church {
	top: 375px;
	right: 276px;
}
#forestHill {
	top: 521px;
	right: 412px;
}
#westPortal {
	top: 582px;
	right: 468px;
}

/*exclamationPoint CSS*/
#exclamationPointDiv {
	height: 32px;
	width: 35px;
	display: none;
	position: absolute;
	top: 100px;
	right: 700px;
}
#exclamationPointImage {
	height: 100%;
	width:100%;
}

/*MOUSE DIV CSS*/
#mouse {
	height: 50px;
	width: 50px;
	top: -40px;
	right: 650px;
	position: absolute;
	/*display: none;*/
	-webkit-animation-name: twitchSlow;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}
#mouseImage{
	height: 100%;
	width: 100%;
}

@-webkit-keyframes twitchFast {
	0% { -webkit-transform: translate(20px, 10px) rotate(0deg); }
	10% { -webkit-transform: translate(-10px, -20px) rotate(-1deg); }
	20% { -webkit-transform: translate(-30px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 20px) rotate(0deg); }
	40% { -webkit-transform: translate(10px, -10px) rotate(1deg); }
	50% { -webkit-transform: translate(-10px, 20px) rotate(-1deg); }
	60% { -webkit-transform: translate(-30px, 10px) rotate(0deg); }
	70% { -webkit-transform: translate(20px, 10px) rotate(-1deg); }
	80% { -webkit-transform: translate(-10px, -10px) rotate(1deg); }
	90% { -webkit-transform: translate(20px, 20px) rotate(0deg); }
	100% { -webkit-transform: translate(10px, -20px) rotate(-1deg); }
}
@-webkit-keyframes twitchSlow {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

/*media queries*/
@media (max-width: 933px) {
  #gameName {
    display: none;
  }
  .instructions {
  	margin-left: 0px;
  }
  #map {
  	margin-left: 0px;
  }
}