body {
	background: #19A69D;
}
button {
	padding: 8px 8px;
	font-size: 14px;
	background: white;
	border: 1px black solid;
}
button:hover {
	color: #EA242F;
	background: #E7E9E8;
	border: 0;
}
button:focus {
	outline: 0;
}
.instructions{
margin-left: 80px;
}
.text { 
	font-family: 'Oxygen', sans-serif;
}
#gameName {
	color: white;
	font-size: 45px;
   	padding: 0 20px;
	-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    transform-origin: right top;
    position: fixed;
    top: 0;
    right: 100%;
    width: 600px;
    text-align: center;
    vertical-align: middle;
    background: #EA242F;
}

#map {
	height: 800px;
	width: 800px;
	position: relative;
	margin-left: 80px;
	z-index: 0;
}

#muniImage {
	height: 100%;
	width: 100%;
	position: relative;
}

#muniLogo {
	width: 60px;
	display: inline-block;
}
#sushi {
	height: 50px;
	width: 50px;
	position: absolute;
	top: 190px;
	right: 275px;
}
#sushiImage{
	height: 100%;
	width: 100%;
}
#title {
	font-size: 30px;
}

/*NODE DIV CSS*/
/*Organized by order of colors of the rainbow, no repeats*/
/*red line prize destinations and transfer stations*/
#embarcadero {
	height: 17px;
	width: 17px;
	background: red;
	position: absolute;
	top: 168px;
	right: 80px;
}
#montgomery {
	height: 17px;
	width: 17px;
	background: red;
	position: absolute;
	top: 205px;
	right: 114px;
}
#powell {
	height: 17px;
	width: 17px;
	background: red;
	position: absolute;
	top: 240px;
	right: 147px;
}
#civicCenter {
	height: 30px;
	width: 27px;
	background: red;
	position: absolute;
	top: 270px;
	right: 187px;
}
#vanNess {
	height: 30px;
	width: 27px;
	background: red;
	position: absolute;
	top: 320px;
	right: 214px;
}
#twentyFourthSt {
	height: 17px;
	width: 17px;
	background: red;
	position: absolute;
	top: 490px;
	right: 214px;
}
#balboaPark {
	height: 17px;
	width: 17px;
	background: red;
	position: absolute;
	top: 729px;
	right: 372px;
}

/*Orange line prize locations and transfer stations*/

#northBeach {
	height: 17px;
	width: 17px;
	background: red;
	position: absolute;
	top: 107px;
	right: 135px;
}
#wharf {
	height: 17px;
	width: 17px;
	background: red;
	position: absolute;
	top: 70px;
	right: 170px;
}
#marina {
	height: 17px;
	width: 17px;
	background: red;
	position: absolute;
	top: 87px;
	right: 326px;
}
#mtZion {
	height: 17px;
	width: 17px;
	background: red;
	position: absolute;
	top: 240px;
	right: 326px;
}
#divisadero {
	height: 17px;
	width: 17px;
	background: red;
	position: absolute;
	top: 290px;
	right: 326px;
}
#castro {
	height: 17px;
	width: 17px;
	background: red;
	position: absolute;
	top: 412px;
	right: 310px;
}
#sixteenthSt {
	height: 17px;
	width: 17px;
	background: red;
	position: absolute;
	top: 393px;
	right: 214px;
}
#soma {
	height: 17px;
	width: 17px;
	background: red;
	position: absolute;
	top: 266px;
	right: 103px;
}

/*Yellow line prize locations and transfer stations*/
#candlestick {
	height: 17px;
	width: 17px;
	background: red;
	position: absolute;
	top: 742px;
	right: 90px;
}
#dogpatch {
	height: 17px;
	width: 17px;
	background: red;
	position: absolute;
	top: 435px;
	right: 35px;
}
#fourthAndKing {
	height: 17px;
	width: 17px;
	background: red;
	position: absolute;
	top: 302px;
	right: 70px;
}
#chinatown {
	height: 17px;
	width: 17px;
	background: red;
	position: absolute;
	top: 167px;
	right: 158px;
}
#polk {
	height: 17px;
	width: 17px;
	background: red;
	position: absolute;
	top: 186px;
	right: 238px;
}
#japantown {
	height: 17px;
	width: 17px;
	background: red;
	position: absolute;
	top: 240px;
	right: 288px;
}
#clement {
	height: 17px;
	width: 17px;
	background: red;
	position: absolute;
	top: 272px;
	right: 524px;
}
#landsEnd {
	height: 17px;
	width: 17px;
	background: red;
	position: absolute;
	top: 338px;
	right: 738px;
}

/*Green line prize locations and transfer stations*/
#nineteenthSt {
	height: 17px;
	width: 17px;
	background: red;
	position: absolute;
	top: 425px;
	right: 545px;
}
#stonestown {
	height: 17px;
	width: 17px;
	background: red;
	position: absolute;
	top: 693px;
	right: 533px;
}
/*Blue line prize locations and transfer stations*/
#union {
	height: 17px;
	width: 17px;
	background: red;
	position: absolute;
	top: 131px;
	right: 236px;
}
#outerSunset {
	height: 17px;
	width: 17px;
	background: red;
	position: absolute;
	top: 425px;
	right: 652px;
}
#breakers {
	height: 17px;
	width: 17px;
	background: red;
	position: absolute;
	top: 423px;
	right: 713px;
}

/*MOUSE DIV CSS*/
#mouse {
	height: 50px;
	width: 50px;
	top: -40px;
	right: 650px;
	position: absolute;
}
#mouseImage{
	height: 100%;
	width: 100%;
	z-index: 3;
}

/*@ 650
{
	#gameName needs to shrink text size so it doesn't break into two lines
}*/